*{
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #B8AFA6;
    color: #333;
}


.home {
    text-align: left;
    padding: 80px;
    background-image: url('image/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.webname {
    color: #fcc7c1;
}

#home-top {
    color: #f2f2f2;
    max-width: 600px;
    margin-bottom: 70px;
    padding: 24px;

}

#home-bottom {
    color: #f2f2f2;
    max-width: 600px;
    padding: 20px;

}

.recipe-box img {
    width:100%; 
    border-radius: 10px;
}

.recipe-box h2 {
    color: #443147;
    padding-top: 10px;
    margin-top: 0;
}

#about {
    padding: 40px;
}


.about-box {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    flex-wrap: wrap;
}

.about-section {
    background-color: white;
    width: 420px;
    padding: 0px 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.about-section p {
    max-width: 700px;
    margin-top: 10px;
}

.about-section ul {
    line-height: 1.8;
    padding-left: 20px;
    list-style: none;
}



footer {
    background-color: #443147;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

